<div id="heading" class="container-fluid">
  <div class="row">
    <h4>Colleges In North India</h4>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="single-college">
        <mat-card>
          <div class="college-image"></div>
          <div class="college-info col-12">
            <h3 class="college-name">
              {{ singleCollegeData.college_name }}
            </h3>
            <h4 class="nearest-place">
              {{ singleCollegeData.nearest_place[0] }}|{{
                singleCollegeData.nearest_place[1]
              }}
            </h4>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="col-6">
      <div class="single-college">
        <mat-card> owjnf </mat-card>
      </div>
    </div>
  </div>
</div>
